<% provide(:title, "Home") %>

<div class="center jumbotron">

    <%= image_tag  "logo.png", alt: "Shepley Computers Logo", class: "logoimg" %>
    <h1>Shepley Computers</h1>
    <h2>This is the start of the website</h2>
    <p>This will be the website homepage</p>

</div>