<% provide(:title, "Terms") %>

<h1>Terms and Conditions</h1>

<h2>Terms and Terminology.</h2>
<p>In these terms and conditions, references such as "our" , "we", "us", "I" and "Shepley Computers" refers to Shepley
    Computers Ltd and it's owner Richard Harris.</p>
</p>

<p>
    <p>The "client" or "customer" refers to any person, persons or business that use any of the "Shepley Computers Ltd"
        services, website or interact with "Shepley Computers Ltd".</p>
</p>

<h2>Agreement.</h2>
<p>All services/support given by and/or interactions with "Shepley Computers Ltd" are subject to the Shepley Computers
    Ltd Terms & Conditions and Privacy Policy. By browsing this website and/or using our services and/or interacting
    with "Shepley Computers Ltd", the client acknowledges that they have read, understood and agree with the Shepley
    Computers Ltd Terms and Conditions & Privacy Policy stated.</p>

<h2>Booking a Repair or Service.</h2>
<p>The client can book a repair or service by either calling "Shepley Computers Ltd" on 07 584 12 12 33 or by using the
    contact form on the "Shepley Computers Ltd" website. Repairs and service requests will be confirmed by either
    telephone or by email by Richard Harris.</p>

<p>Please be aware that we do not have a walk in shop. Repairs are mostly completed on a call-out to your home or
    business, or in our workshop. A collect, repair, and return service is available subject to client request and "Shepley Computers Ltd"
    agreement.</p>

<p>Home or business call-outs are subject to availability and are allocated on a first come, first served basis.</p>

<p>If a home or business call-out is booked and access is not gained at the agreed allotted time, the client may be
    subject to a charge equivalent to 1 hour at our current "additional hour labour rate". Enforcement of this charge is
    at "Shepley Computers Ltds" discretion.</p>

<p>In the event we cannot make the appointment at the agreed time, you will be contacted in advance advising you of the
    situation and to re-schedule an appointment as soon as reasonably possible at a mutually convenient time. If you
    wish, you have the right to cancel your repair or service request. "Shepley Computers Ltd" accept no liability for
    not being able to make an appointment time. We will however try to contact the client as soon as possible, if an
    appointment needs to be re-scheduled.</p>

<p>The client may cancel an agreed home or business call-out at any time up to 2 hours prior to the agreed appointment
    time.</p>

<p>If the client cancels or changes an appointment within 2 hours prior to the agreed time, the Client may be subject to
    a charge equivalent to 1 hour at our current "additional hour labour rate". Enforcement of this charge is at
    "Shepley Computers Ltds" discretion.</p>

<h2>Remote Support Via Phone or Email.</h2>
<p>Unfortunately due to limited resources, "Shepley Computers Ltd" do not offer support via phone or email. All advise,
    support, consultation, or questions must be done via call-out or via Remote Control of your device (if available) so
    that "Shepley Computers Ltd" can see the problem first hand, and to ensure a better diagnosis. All support is
    chargable based on current "First Hour" and "Additional Hour" rates. Please feel free to contact "Shepley Computers
    Ltd" for current labour charges.</p>

<h2>Payment.</h2>
<p>"Shepley Computers Ltd" will accept payment by debit or credit card in person, via shepleycomputers.com or by invoice click-through, cash or bank transfer in pounds sterling (GBP) only.</p>

<p>If an invoice is requested by the client, it will be created on the date of the call-out (or the first call-out if
    the service requires multiple visits). It is the clients responsibility to ensure that "Shepley Computers Ltd" have
    a working email address for the client, as invoices are issued by email. If the client does not have a working email
    address, then the client must inform "Shepley Computers Ltd" that they would like a printed paper copy. "Shepley
    Computers Ltd" will allow 7 days from the date the invoice was created, for it to be paid in full. Invoices must be
    paid in full before or on the due date stated on the invoice. If full payment has not been recieved by the invoice
    due date then, "Shepley Computers Ltd" have the right to remove any discounts that have been applied to the invoice,
    and add an additional &pound;10 for each week of non-payment. This penalty will be applied the day following the
    invoice due date, and a revised invoice will be issued to the client so that the new payment may be made
    immediately. A new revised invoice (including further penalty charges) will then be issued to the client every 7
    days until payment has been made in full.</p>

<p>"Shepley Computers Ltd" reserve the right to request immediate payment for any job, and to limit payment to a certain
    method.</p>

<p>In rare circumstances when goods are supplied, you will only own these goods when payment is received in full.</p>

<p>Computer/Laptop parts, any other hardware, or software that is needed to complete a repair or service will be
    purchased by the client from Shepley Computers Ltd or the clients own supplier. This should ensure that any warranty will be under the clients name with the supplier of
    the purchased item. "Shepley Computers Ltd" will be happy to advise on what needs to be purchased as best as we can.
</p>

<h2>Risks of a Repair or Service.</h2>
<p>Computers, Laptops and other technology devices can be very complicated. As with anything complicated, things can
    sometimes go wrong. No matter how much care "Shepley Computers Ltd" take when they are fixing or servicing your
    device, there is always a chance that something unexpected can happen resulting in the loss of data/files/software
    or damage to hardware. This is especially true if your device is in a precarious state to begin with before the
    repair or service.</p>

<p>Although "Shepley Computers Ltd" will take all reasonable effort to avoid any data, file loss or hardware damage,
    "Shepley Computers Ltd", do not take any responsibility for any loss or consequential loss which may arise out of
    damage, destruction, or loss of any data/files or hardware while undertaking a repair or service.</p>

<p>"Shepley Computers Ltd" rely on information the client may have provided them. We will accept no liability for any
    loss or damage (including hardware or software) which arises out of incorrect or incomplete information provided by
    the client.</p>

<p>We highly recommend that you perform a backup of all your important data, files and software before any repair or
    service is attempted.</p>

<p>Backups will remain the sole responsibility of the client, however we will try out very best to limit the risk of any
    data loss while performing a service or repair.</p>

<h2>Estimates for Repairs and Service.</h2>
<p>An estimate may be provided by "Shepley Computers Ltd" upon request. All quotes and estimates are at the current
    labour rate charge, and in pounds sterling (GBP).</p>

<p>The acceptance of an estimate or quotation for a repair or service and instruction to proceed by the Client either
    verbally by telephone, in person, or in writing (including email) shall also be deemed acceptance, agreement and
    understanding of the "Shepley Computers Ltd" Terms and Conditions.</p>

<h2>Availability of Goods, Repairs and Services.</h2>
<p>Goods and services are subject to availability. If for whatever reason we are unable to supply any goods or services
    we will not be held liable for any compensation or damages.</p>

<p>Please be aware that "Shepley Computers Ltd" do not normally stock replacement parts for any laptop, computer, other
    device or equipment in house.</p>

<p>"Shepley Computers Ltd" reserves the right to decline any repair or service.</p>

<h2>Beyond Economical Repair.</h2>
<p>"Shepley Computers Ltd" will always try to inform the client if we feel the job is beyond economical repair. This
    will be our opinion only and should not discourage the customer from finding a second opinion.</p>

<h2>File and Data Recovery.</h2>
<p>If a defective part (such as a Hard Disk Drive, CD, Floppy Disk or Flash Drive) contains data, then there is a high
    probability that this data has been lost and cannot be recovered. Where it may be possible to recover your
    data/files, and you would like "Shepley Computers Ltd" to try and recover it, we may need to take your computer
    away. "Shepley Computers Ltd" make no guarantee that they will be able to recover your lost data, files or Software.
</p>

<h2>Microsoft Windows Re-Install.</h2>
<p>A full Microsoft Windows Re-Install normally requires all the data/files and software on your computer or laptop to
    be deleted. In most cases, "Shepley Computers Ltd" will be able to attempt a backup of your files (pictures,
    documents, music and videos) and then restore these after Microsoft Windows has been re-installed. In order to
    backup your files, "Shepley Computers Ltd" will strongly advise using a backup device provided by the customer (such
    as external hard disk drive, Flash drive e.t.c). "Shepley Computers Ltd" will also need to be informed by the client
    of the location of files that need to be backed up. Please be aware that software that has been installed on to
    Microsoft Windows can not normally be backed up, and will require a reinstall using original software installation
    media (such as install CD's).</p>

<p>If a Microsoft Windows Re-install is required, then "Shepley Computers Ltd" may need you to supply them with the
    installation disks for your operating system (Microsoft Windows) along with its product key. In addition, if there
    is any other software or devices that you would like us to install, you will need to provide us with the appropriate
    installation and product registration keys. "Shepley Computers Ltd" can only use original purchased software and /
    or registration keys provided by the client.</p>

<p>As with all our services, "Shepley Computers Ltd" highly advises that you perform your own backups before we attempt
    to re-install Microsoft Windows, as we can not be held liable for any data, file, or software loss.</p>

<p>"Shepley Computers Ltd" will make every reasonable effort to preserve the Client's data and files, however it should
    be noted that there are NO GUARANTEES whatsoever that the Clients data and files will remain intact after the
    repairs.</p>

<p>It is therefore the client's sole responsibility to ensure that all the data and information stored on the computer
    equipment requiring repair or service is appropriately backed up to other storage devices prior to handing over for
    repair or service.</p>

<p>Charges will be incurred if "Shepley Computers Ltd" has to perform a lengthy backup procedure to protect the Clients
    own data in order to complete the repairs or service.</p>

<h2>Limited Liability.</h2>
<p>Whilst "Shepley Computers Ltd" shall make every reasonable effort to preserve the integrity of a device to repair or
    service, or left for repair or service, the Client agrees not to hold "Shepley Computers Ltd" liable for any
    accidental damage to the said device, including but not limited to scratches, casing cracks, deformations, theft of
    the equipment etc.</p>

<p>Additionally "Shepley Computers Ltd" cannot be held liable for any loss of data, loss of revenue or profits, or any
    incidental, contingent, or consequential damages caused either prior, during or upon completion of a service or
    repair.</p>

<p>"Shepley Computers Ltd" liability of any kind with respect to repairs or services undertaken, including any
    negligence on its part, shall be limited to the price for the services or repairs provided (i.e A Full Refund of
    "Shepley Computers Ltd" labour charges).</p>

<p>Furthermore, should "Shepley Computers Ltd" offer any advice or recommendations to a Client as to the use of computer
    equipment, tech gadgets, storage or use of software applications, it shall be entirely at the Clients own risk, and
    accordingly "Shepley Computers Ltd" shall not be held liable for any such losses associated with such advice or
    recommendations.</p>

<p>Additionally, "Shepley Computers Ltd" cannot be held responsible or liable for the following during or after the
    repairs or service (including advice or help given by any method/medium) :</p>

<p>Loss or corruption of data, files, information or records</p>
<p>Any losses attributed to the interruption to business activity while equipment is out of service for repairs or
    service</p>
<p>Failure by the Client to follow our reasonable recommendations, instructions and advice (e.g such as back up of data)
</p>
<p>Any loss of business goodwill</p>
<p>Any loss you may suffer arising from failure to use anti-virus software</p>
<p>Any loss considered to be unforeseeable</p>
<p>Damage resulting from viruses or other malicious software that may have been transmitted during servicing or repairs
    and therefore escaped detection</p>
<p>"Shepley Computers Ltd" will not be liable for any damage caused to other equipment by parts fitted following or
    during any repair or service.</p>
<h2>Warranties.</h2>
<p>"Shepley Computers Ltd" provides a 30 day warranty on labour only repairs carried out on devices requested by the
    Client. This 30 day warranty excludes the client's device being re-infected with a virus after the call out, other
    software related problem that was not disclosed to "Shepley Computers Ltd" during the call-out, or client misuse.
    "Shepley Computers Ltd" makes no warranty for data, software or computer files either expressed or implied. The 30
    day warranty also excludes repairs to hardware/software that has been fixed/patched to work for a limited time e.g.
    An item that is starting to fail, or could fail, and has been temporarily fixed.</p>

<p>If the same problem re-occurs within 30 days of the original call-out repair, and is not part of the above exlusions,
    "Shepley Computers Ltd" will undertake the labour to repair again without charge, up until the amount of time spent
    on fixing the problem originally. However, charges will be incurred should additional parts be required or more time
    is needed after the original repair time e.g. If the original call-out repair was 2 hours, as long as the warranty
    repair is not part of the above exclusions, is completed within 2 hours, and no further parts are needed, the
    warranty repair will be Free of Charge. If the repair takes longer than 2 hours, then the additional hours labour
    will be charged at the current "additional hourly charge" rate. The client has the right to deem the repair "beyond
    economical repair" before additional hours labour is carried out and charged. "Shepley Computers Ltd" will always
    endeavor to inform the client if they feel that the repair is "beyond economical repair".</p>

<p>As the client will purchase any required parts to perform a service or repair, warranty for said part/equipment (if
    any) will remain between the client and the "part seller" in which the client purchased from. In the unlikely event
    that a part has been ordered in error, or due to miss-diagnosis, the client is responsible for the return of the
    incorrect item, and any charges involved. It is the clients responsibility to check that the "part seller" is
    trustworthy and any restrictions imposed by the "part seller" in regards to returns policy or other policies.</p>

<h2>Cookie Policy & Cookies In Use On This Website.</h2>
<p>The "Shepley Computers Ltd" website uses cookies, as almost all websites do, to help provide you with the best
    experience we can. Cookies are small text files that are placed on your computer, mobile phone, or other device when
    you browse websites.</p>

<p>Our cookies help:</p>

<p>Make the "Shepley Computers Ltd" website work correctly.</p>
<p>Improve the security of the "Shepley Computers Ltd" website.</p>
<p>Allow you, the user/client, to share information from the "Shepley Computers Ltd" website with social media websites
    like Twitter & Facebook etc.</p>
<p>Help to improve the "Shepley Computers Ltd" Website and its content.</p>
<p>The "Shepley Computers Ltd" website may use cookies to compile visitor statistics, such as how many people have
    visited this website, what type of device they are using (e.g. Windows PC Computer / Laptop, Android tablet, Iphone
    e.t.c), how long they spend on this website and what pages they look at etc. This helps us to continuously improve
    our website. These so called "analytics" programs also tell us how people reached this site (e.g. from a search
    engine) and whether they have been here before.</p>

<p>The "Shepley Computers Ltd" website, like most websites, includes functionality provided by third parties. Common
    examples are embedded YouTube video, embedded Twitter Feed, embedded Facebook Likes and Google Maps. These features
    may also use cookies to function correctly. Disabling these cookies will likely break the functions offered by these
    third parties. Also, to enable you to easily "Like" or share content from the "Shepley Computers Ltd" website, we
    have included sharing buttons on our site.</p>

<p>Common third party cookies that may be set include (but may not be limited to):</p>

<p>AddToAny - Privacy Policy. Provides the "Shepley Computers Ltd" website with lots of "sharing" buttons.</p>
<p>Twitter - Privacy Policy. Provides the ability to follow "Shepley Computers Ltd" on Twitter and "tweet" my content
    e.t.c.</p>
<p>Facebook - Privacy Policy. Provides the ability to follow "Shepley Computers Ltd" on Facebook, repost my content on
    Facebook e.t.c</p>
<p>The privacy implications for these third parties will vary from social network to social network and will normally be
    dependent on the privacy settings you have chosen on these websites.</p>

<p>You can usually switch cookies off by adjusting your browser settings to stop it from accepting cookies. Doing so
    however will likely limit the functionality of our's and a large proportion of the world's websites, as cookies are
    a standard part of most modern websites.</p>

<p>By using the "Shepley Computers Ltd" website, you accept the use of cookies on this website so that it functions
    correctly. Please do not use this website if you do not agree to the use of cookies.</p>

<p>Please read the "Shepley Computers Ltd" Privacy Policy for more info.</p>

<h2>Recording of Phone Calls to Shepley Computers Ltd.</h2>
<p>Calls may be recorded by "Shepley Computers Ltd" for training, safety reasons, and to keep a record of what has been
    agreed or discussed with "Shepley Computers Ltd". All clients agree that recorded calls may be used as evidence to
    protect "Shepley Computers Ltd".</p>

<h2>Correctness of Information and Disclaimer.</h2>
<p>Although every effort is made to make sure the information contained on our website and in our documentation is
    accurate, current and reliable, it should be recognised that there is a possibility of errors. "Shepley Computers
    Ltd" denies any liability of the accuracy and reliability of any information provided on this website, any other
    associated website, or documentation. "Shepley Computers Ltd" shall not be held liable for any losses caused by
    reliance upon the accuracy and reliability of the information contained within.</p>

<p>We reserve the right to amend the content of our website and or our documentation at any time without prior notice.
</p>

<p>We cannot accept any responsibility for other websites we do not control, which may be linked to or from our website.
</p>

<p>It should be noted, that services and or products indicated in this website might be altered, modified or
    discontinued at any time without prior notice. It should also be noted that published fees for services, repairs and
    or products are subject to change without prior notice.</p>

<p>"Shepley Computers Ltd" has the right, at their discretion, to refuse the supply of goods and services.</p>

<p>"Shepley Computers Ltd" reserves the right to change their Terms and Conditions at any time without prior notice.</p>