<footer class="footer">
    <small>
        Copyright 2020 Shepley Computers Ltd - Shepley Computers Ltd is a company registered England and Wales (Company No. #######) Copley Cottage, Lane Head Road, Shepley, Huddersfield, HD88DB
    </small>
    <nav>
        <ul>
            <li><%= link_to  "About", about_path %></li>
            <li><%= link_to  "Contact", contact_path %></li>
            <li><%= link_to "Privacy Policy", privacy_path %>
            <li><%= link_to  "Terms and Conditions", terms_path %></li>
        </ul>
    </nav>
</footer>