<footer class="footer">
    <small>
        Shepley Computers is a limited liability company registered in England and Wales with company number #
    </small>
    <nav>
        <ul>
            <li><%= link_to  "About", "#" %></li>
            <li><%= link_to  "Contact", "#" %></li>
            <li><%= link_to  "Terms and Conditions", "#" %></li>
        </ul>
    </nav>
</footer>